<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<!-- .sidebar-mini -->
<body class="hold-transition layout-top-nav">

<div class="wrapper">


    <div th:replace="fragments :: navbar(active_link = 'add-product')"></div>

    <!--/*
    <div th:replace="fragments :: sidebar"></div>
    */-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Create a new product of the day</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container" x-data="createProductForm()">

                <div x-cloak class="alert alert-success" x-show="show_success_msg">
                    <i class="fa fa-check"></i> Successfull inserted product!
                </div>

                <div x-cloak class="alert alert-danger" x-show="show_validation_error_msg">
                    <i class="fa fa-exclamation-triangle"></i> <span x-text="validation_error_msg"></span>
                </div>

                <div class="card card-primary" >
                    <div class="card-header">
                        <h3 class="card-title">Creation form</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input x-model="name" type="text" class="form-control" id="name" placeholder="Enter product name">
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea x-model="description" class="form-control" id="description" placeholder="Enter product description">ciaone</textarea>
                                </div>

                                <div class="form-group">
                                    <label for="image_url">Image URL *</label>
                                    <input x-model="image_url" type="url" class="form-control" id="image_url" placeholder="Enter product image url">
                                </div>

                                <div class="form-group">
                                    <label for="date">Date of the questionnaire * <small class="text-muted">(Select today or a future day)</small></label>
                                    <input x-model="date" type="date" class="form-control" id="date" placeholder="Pick a date" :min="today">
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-center">
                                <img x-show="image_url !== null" style="max-height: 400px" :src="image_url" alt="" class="img-fluid">
                            </div>
                        </div>

                        <hr class="my-4">

                        <label>Add questions for questionnaire</label>

                        <div class="row">

                            <div class="form-group col-md-5">
                                <input x-model="new_question_title" type="text" class="form-control" id="new_question_title" placeholder="Enter a title">
                            </div>

                            <div class="form-group col-md-5">
                                <input x-model="new_question_subtitle" type="text" class="form-control" id="new_question_subtitle" placeholder="Enter subtitle">
                            </div>

                            <div class="col-md-2 text-center">
                                <button class="btn btn-primary" @click="addQuestion()">Add question</button>
                            </div>

                        </div>

                        <div class="row">

                            <template x-if="questions.length > 0">
                                <table class="table table-sm mt-3">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Subtitle</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template x-for="(question, index) in questions" :key="index">
                                        <tr>
                                            <td x-text="question.title"></td>
                                            <td x-text="question.subtitle"></td>
                                            <td class="text-center">
                                                <button @click="deleteQuestion(index)" class="btn btn-xs btn-danger" ><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </template>

                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer text-center">
                        <button class="btn btn-success" @click="createProduct()">Create product</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments :: footer"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="fragments :: js"></div>

<script type="text/javascript">

    function createProductForm(){
        return {

            today: (new Date).toISOString().split("T")[0],

            name: '',
            description: '',
            image_url: '',
            date: '',
            questions: [],

            new_question_title: '',
            new_question_subtitle: '',

            show_success_msg: false,
            show_validation_error_msg: false,
            validation_error_msg : '',
            show_error_msg: false,

            addQuestion(){

                if(this.new_question_title === ''){
                    this.validation_error_msg = 'Please fill the required inputs';
                    this.show_validation_error_msg = true;
                    return;
                }

                this.questions.push({
                    title: this.new_question_title,
                    subtitle: this.new_question_subtitle
                });

                this.show_validation_error_msg = false;
                this.new_question_title = '';
                this.new_question_subtitle = '';
            },

            deleteQuestion(questionIndex){
                this.questions.splice(questionIndex, 1)
            },

            createProduct(){

                this.show_validation_error_msg = false;
                this.show_success_msg = false;

                if(this.name === '' || this.image_url === ''|| this.date === '' || this.questions.length === 0){
                    this.validation_error_msg = 'Please fill the required inputs';
                    this.show_validation_error_msg = true;
                    return;
                }

                _this = this;

                $.ajax({
                    url: '/product/create',
                    method: 'POST',
                    data: JSON.stringify({
                        name : this.name,
                        description : this.description,
                        image_url : this.image_url,
                        date:this.date,
                        questions: this.questions
                    }),
                    success: function(res) {
                        _this.show_success_msg = true;
                        _this.name = '';
                        _this.description =  '';
                        _this.image_url = '';
                        _this.date = '';
                        _this.questions = [];
                        _this.new_question_title = '';
                        _this.new_question_subtitle = '';
                    },
                    statusCode: {
                        400: (err) => {
                            this.validation_error_msg = err.responseJSON.errors[0];
                            this.show_validation_error_msg = true;
                        }
                    }
                });
            }
        }
    }

</script>

</body>
</html>