<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<div th:replace="fragments :: head"></div>

<!-- .sidebar-mini -->
<body class="hold-transition layout-top-nav">

    <div class="wrapper">

        <div th:replace="fragments :: navbar(active_link = 'home')"></div>

        <!--/*
        <div th:replace="fragments :: sidebar"></div>
        */-->

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Home Page</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="container">

                    <div class="card card-primary" th:if="${product != null}">
                        <div class="card-header">
                            <h3 class="card-title">
                                💡 <span class="ml-2">Questionnaire of the day</span>
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 p-5">
                                    <div class="p-5">
                                        <img th:attr="src=${product.imageUrl}" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <div>
                                        <h1 class="text-center" th:text="${product.name}"></h1>

                                        <p class="mt-5" th:text="${product.description}"></p>

                                        <div class="text-center my-5" sec:authorize="hasAuthority('USER')">
                                            <a href="/submission/start/" th:class="'btn btn-primary '+${submission != null || bannedUser ? 'disabled' : ''}">Make the questionnaire</a>
                                            <small th:if="${bannedUser}" class="text-danger"><br><i class="fa fa-exclamation-triangle"></i> You're banned</small>
                                            <span th:if="${submission != null}">
                                                <small th:if="${submission.getIsCompleted()}" class="text-success"><br><i class="fa fa-check"></i> You already completed this questionnaire</small>
                                                <small th:if="${submission.getIsCanceled()}" class="text-warning"><br><i class="fa fa-times"></i> You canceled the submission of this questionnaire</small>
                                            </span>
                                        </div>
                                        <h3>Latest reviews</h3>
                                        <div class="callout callout-warning" th:each="review: ${product.reviews}">
                                            <small th:text="${review.text}"></small>
                                        </div>
                                    </div>

                                </div>


                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div class="alert alert-warning" th:if="${product == null}">
                        😞 &nbsp;No product questionnaire for today
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <div th:replace="fragments :: footer"></div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <div th:replace="fragments :: js"></div>
</body>
</html>