<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<!-- .sidebar-mini -->
<body class="hold-transition layout-top-nav">

<div class="wrapper">


  <div th:replace="fragments :: navbar(active_link = 'leaderboard')"></div>

  <!--/*
  <div th:replace="fragments :: sidebar"></div>
  */-->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Leaderboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Submissions for survey of product of the day</h3>

            <div class="card-tools">
              <!--
              <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
              </ul>
              -->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <table class="table">
              <thead>
              <tr>
                <th style="width: 10px">Pos.</th>
                <th>Points</th>
                <th>Username</th>
                <th>N. Answered optional questions</th>
                <th>Submission Date & Time</th>
              </tr>
              </thead>
              <tbody>


              <tr th:each="submission: ${submissions}">
                <td th:text="${submission.id}"></td>
                <td><span class="badge badge-success">150</span></td>
                <td>🏆 <span class="ml-2" th:text="${submission.user.getLastName()+' '+submission.user.getFirstName()}"></span></td>
                <td>3/3</td>
                <td th:text="${submission.user.getCreatedAt()}"></td>
              </tr>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <div th:replace="fragments :: footer"></div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="fragments :: js"></div>
</body>
</html>