<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<!-- .sidebar-mini -->
<body class="hold-transition layout-top-nav">

<div class="wrapper">


    <div th:replace="fragments :: navbar"></div>

    <!--/*
    <div th:replace="fragments :: sidebar"></div>
    */-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Questionnaire</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container">

                <div class="card card-primary" x-data="questionnaireForm()" x-cloak>
                    <div class="card-header">
                        <h3 class="card-title">
                            💡 <span class="ml-2">Questionnaire form</span>
                        </h3>
                    </div>
                    <div id="body-questions-1" x-show.transition="step == 1" class="card-body">

                        <div class="d-flex align-items-center">
                            <img th:attr="src=${product.imageUrl}" class="img-fluid" style="height: 40px;">
                            <h4 class="text-center ml-4" th:text="${product.name}"></h4>
                        </div>
                        <hr>

                        <div th:each="question, i : ${product.questions}">
                            <div class="callout callout-info">
                                <h5><span class="badge badge-info" th:text="${i.index + 1}"></span> <span th:text="${question.title}"></span></h5>
                                <p class="text-muted" th:text="${question.subtitle}"></p>
                                <textarea class="form-control response" cols="30" rows="4" placeholder="Write your answer here..." th:attr="data-question-id=${question.id}"></textarea>
                            </div>
                        </div>

                    </div>

                    <div id="body-questions-2" x-show.transition="step == 2" class="card-body">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="age" class="col-sm-2 col-form-label">Your age *</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="age" placeholder="Your age">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Your sex *</label>
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sex" value="0" id="sex-male">
                                                <label class="form-check-label" for="sex-male">Male</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sex" checked="" value="1" id="sex-female">
                                                <label class="form-check-label" for="sex-female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Your expertise level *</label>
                                    <div class="col-sm-10">
                                        <select id="expertise-level" class="form-control">
                                            <option value="LOW">Low</option>
                                            <option value="MEDIUM" selected>Medium</option>
                                            <option value="EXPERTISE">High</option>
                                        </select>
                                    </div>
                                </div>

                                <p class="mt-5 text-right text-muted">* The field is required</p>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer text-right">
                        <a href="/cancel" class="btn btn-danger">Cancel</a>
                        <button x-show="step == 1" class="btn btn-primary" @click="step = 2">Next Step 👉</button>
                        <button x-show="step == 2" id="prev_btn" class="btn btn-primary" @click="step = 1">👈 <span class="ml-1">Prev Step</span></button>
                        <button x-show="step == 2" id="submit_btn" @click="submitResponses()" class="btn btn-success" >Submit</button>
                    </div>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments :: footer"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="fragments :: js"></div>

<script type="text/javascript">


    function questionnaireForm(){
        return {
            productId: [[${product.id}]],
            step: 1,
            submitResponses(){

                const requestBody = {
                    sex: $('input[name="sex"]:checked').val(),
                    age: $('#age').val(),
                    expertise_level: $('#expertise-level').val(),
                }

                let responses = [];
                $('.response').each(function(i, el){
                    responses.push({
                        question_id: $(el).data('question-id'),
                        body: $(el).val()
                    })
                });

                requestBody.responses = responses;

                $.ajax({
                    url: '/submission/'+this.productId+'/submit',
                    method: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(requestBody),
                    success: function(res){
                        console.log('submission aggiornato!')
                        console.log(res);
                    }
                });

            }
        }
    }

</script>

</body>
</html>