<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments :: head"></div>

<!-- .sidebar-mini -->
<body class="hold-transition layout-top-nav">

<div class="wrapper">


    <div th:replace="fragments :: navbar(active_link = 'search-product')"></div>

    <!--/*
    <div th:replace="fragments :: sidebar"></div>
    */-->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Search a past product of the day</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container" x-data="searchProductForm()">
                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">Search form</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="form-group">
                            <label for="date">Date of product</label>
                            <input x-model="date" type="date" class="form-control" id="date" placeholder="Pick a date">
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer text-right">
                        <button class="btn btn-success" @click="searchProduct()">Search product</button>
                    </div>
                </div>

                <div class="alert alert-warning" th:if="${product == null}">🙃 &nbsp;No product found for this date</div>

                <div class="alert alert-success" x-show.transition.in="show_deleted_msg"><i class="fa fa-check"></i> Successfull deleted product!</div>

                <div class="card card-primary mt-4" th:if="${product != null}" x-show.transition.out="!show_deleted_msg">

                    <div class="card-header">
                        <h3 class="card-title">Product of the day <b th:text="${product.getFormattedDate()}"></b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="d-flex align-items-center">
                            <img th:attr="src=${product.imageUrl}" class="img-fluid" style="height: 70px;">
                            <div class="pt-3">
                                <h4 class="ml-4"><span th:text="${product.name}"></span></h4>
                                <p class="text-muted ml-4" th:text="${product.description}"></p>
                            </div>
                        </div>

                        <h4 class="my-3">Confirmed related submissions:</h4>

                        <div id="accordion" th:each="submission: ${product.submissions}">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title w-100">
                                        <a class="d-block w-100" data-toggle="collapse" th:href="${'#collapse-submission-'+submission.id}" aria-expanded="true">
                                            Submission by <b th:text="${submission.user.getFullName()}"></b>
                                        </a>
                                    </h4>
                                </div>
                                <div th:id="${'collapse-submission-'+submission.id}" class="collapse" data-parent="#accordion" style="">
                                    <div class="card-body">
                                        <ul class="list-unstyled">
                                            <li th:each="response: ${submission.responses}">
                                                ✅ &nbsp;<b th:text="${response.question.title}"></b> <span th:text="${response.body}"></span>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer text-right">
                        <button class="btn btn-danger btn-sm" @click="deleteProduct()"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>

            </div>
        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments :: footer"></div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<div th:replace="fragments :: js"></div>

<script type="text/javascript">

    function searchProductForm(){
        return {

            date: '',
            productDate: '[[${product == null ? "" : product.date}]]',
            show_deleted_msg: false,

            searchProduct(){
                window.location.replace("/product/search/"+this.date);
            },

            deleteProduct(){
                $.ajax({
                    url: '/product/'+this.productDate,
                    method: 'DELETE',
                    success: () => {
                        this.show_deleted_msg = true;
                    }
                })
            }
        }
    }

</script>

</body>
</html>